* {
    text-transform : capitalize;
}

h1 {
    text-transform : capitalize;
}

h2 {
    text-transform : capitalize;
}

h3 {
    text-transform : capitalize;
}

h4 {
    text-transform : capitalize;
}

h5 {
    text-transform : capitalize;
}

.reveal .slides {
    text-align : left;
    text-transform : capitalize;
    font-family : mplus-2p-thin;
}